html {
    scroll-behavior: smooth; /* Standard */
}

body {
    margin: 0px; /* Browser-Standard rückgängig machen: Äußerer Abstand */
    font-family: 'Battambang'; /* Schriftart für den ganzen Body-Bereich festlegen */
    overflow-x: hidden; /* Standard: Was auf der X-Achse aus dem Body/Tag rausläuft wird nicht mehr gezeigt */
    /* muss dem Body gegeben werden, ABER funktioniert nicht auf dem Handy -> Lösung: Alles in eine <div> was in <body> ist und diesem <div> das overflow-Attribut geben */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.header-img {
    height: 50px;
}

.header-img2 {
    display:flex;
    align-items:center;
    font-size:20px;
}

.header-img2 img{
    height: 30px;
}

.header-img2 span{
    text-align:center;
}

.header input {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 50px;
    height: 30px;
    border-radius: 10px;
}

/* .btn-design {
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
    color: white;
} */

/* vvvvvvvvvvvvvvvvvvvvvvvvvv */
/* CSS */
.btn-design {
  appearance: button;
  background-color: #4D4AE8;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #4D4AE8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width:100px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.btn-design:focus:not(:focus-visible),
.btn-design:focus {
  outline: 0;
}

.btn-design:hover {
  background-color: #3733E5;
  border-color: #3733E5;
}

.btn-design:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.btn-design:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.btn-design:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.btn-design:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}
/* vvvvvvvvvvvvvvvvvvvvvvvvvv */

.btn1{
    margin-right:10px;
    margin-bottom:5px;
}
.btn3{
    margin-right:10px;
    margin-top:5px;
}
.btn2{
    margin-left:10px;
    margin-bottom:5px;
}
.btn4{
    margin-left:10px;
    margin-top:5px;
}

button:hover {
    transform:scale(1.1);
}

#pokedex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

h1 {
    margin: 5px;
}

img {
    height: 200px;
    margin: 5px;
    max-width:180px;
}

button {
    margin: 5px;
    width: 75px;
    cursor: pointer;
}

.pokecarddesign {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px;
    width: 30%;
    cursor:pointer;
    transition: transform 225ms ease-in-out;
}

.pokecarddesignForHover:hover {
    transform:scale(1.01);
    box-shadow: 0px 0px 5px 5px #E6E6E6;
    cursor:auto;
}

.pokecardsection {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.shortfacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.shortfacts {
    display: flex;
    justify-content: center;
}

.morefacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.morefactsstyle {
    display: flex;
    justify-content: center;
}


.info-bg {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:10;
}

.info-box {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 60%;
    border-radius: 5px;
}

.info-box-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.info-box-header img {
    height: 100px;
    margin: 5px;
}

.infolist {
    width: 60%;
    overflow-y: scroll;
    margin-bottom: 48px;
    border: 0px solid grey;
    border-radius: 5px;
}

#addSubheader {
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
}

#x-cross {
    position: absolute;
    top: 0;
    right: 0;
    height: 16px;
    margin: 10px;
    cursor: pointer;
}

#ListforInfos {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.d-none {
    display: none;
}

#addNodata {
    text-align: center;
}

.types{
    display:flex;
    align-items:center;
}

.idsfont{
    font-size:22px;
}

.pad-bot{
    padding-bottom:5px;
}

.pad-bot2{
    padding-bottom:10px;
}

.pad-bot3{
    padding-bottom:20px;
}

.pad-lef{
    padding-left:10px;
}

.DummyforColorComparison {
    background-color: #78c850;
    background-color: green;
    background-color: #f08030;
    background-color: orange;
    background-color: #6890f0;
    background-color: blue;
    background-color: #a8b820;
    background-color: green;
    background-color: #a8a878;
    background-color: brown;
    background-color: #a040a0;
    background-color: darkviolet;
    background-color: #f8d030;
    background-color: orange;
    background-color: #e0c068;
    background-color: orange;
    background-color: #ee99ac;
    background-color: red;
    background-color: #c02038;
    background-color: red;
    background-color: #f85888;
    background-color: red;
    background-color: #b8a038;
    background-color: brown;
    background-color: #705898;
    background-color: darkviolet;
    background-color: #98d8d8;
    background-color: blue;
    background-color: #7038f8;
    background-color: darkviolet;
    background-color: #705848;
    background-color: brown;
    background-color: #b8b8d0;
    background-color: burlywood;
    background-color: #a890f0;
    background-color: darkviolet;
}

/* For Icons */
.icon {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    margin:auto;
    transition: 200ms all;
}

.icon:hover{
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: auto;
}

.icon img {
    height: 60%;
    width: 60%;
    margin: 20%;
}

.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}
/* For Icons */


/* Scrollbar */
  /* Width */
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(166, 163, 165, 0.8);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #555;
  }
/* Scrollbar */


/* For Scrollbars */
.sbbug::-webkit-scrollbar-thumb { 
    background: green;
}

.sbdark::-webkit-scrollbar-thumb { 
    background: brown;
}

.sbdragon::-webkit-scrollbar-thumb { 
    background: darkviolet;
}

.sbelectric::-webkit-scrollbar-thumb { 
    background: orange;
}

.sbfire::-webkit-scrollbar-thumb { 
    background: orange;
}

.sbfairy::-webkit-scrollbar-thumb { 
    background: red;
}

.sbfighting::-webkit-scrollbar-thumb { 
    background: red;
}

.sbflying::-webkit-scrollbar-thumb { 
    background: darkviolet;
}

.sbgohst::-webkit-scrollbar-thumb { 
    background: darkviolet;
}

.sbgrass::-webkit-scrollbar-thumb { 
    background: green;
}

.sbground::-webkit-scrollbar-thumb { 
    background: orange;
}

.sbice::-webkit-scrollbar-thumb { 
    background: blue;
}

.sbnormal::-webkit-scrollbar-thumb { 
    background: brown;
}

.sbpoison::-webkit-scrollbar-thumb { 
    background: darkviolet;
}

.sbpsychic::-webkit-scrollbar-thumb { 
    background: red;
}

.sbrock::-webkit-scrollbar-thumb { 
    background: brown;
}

.sbsteel::-webkit-scrollbar-thumb { 
    background: burlywood;
}

.sbwater::-webkit-scrollbar-thumb { 
    background: blue;
}
/* For Scrollbars */

/* Spinner */
#loader-bg{
    background-color: white;
}

#loader-bg img{
    position:absolute;
    width: 50px;
    height: 50px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid black; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* Spinner */

@media (min-width:901px) and (max-width:1260px) {
    .pokecardsection {
        flex-direction: column;
    }

    .morefacts {
        margin: 24px;
        margin-bottom: 48px;
    }

    .header input {
        margin-left: 10px;
        margin-right: 10px;
    }

    .info-box {
        height: 80%;
        width: 90%;
    }

    .shortfacts {
        align-items: center;
    }
}


@media (min-width:700px) and (max-width:900px) {
    .pokecardsection {
        flex-direction: column;
    }

    .morefacts {
        margin: 24px;
        margin-bottom: 48px;
    }

    .header input {
        margin-left: 10px;
        margin-right: 10px;
    }

    .info-box {
        height: 80%;
        width: 90%;
    }

    .shortfacts {
        align-items: center;
    }

    .btn-design {
       width:90px; 
    }

    .btn1{
        margin-right:5px;
        margin-bottom:5px;
    }
    .btn3{
        margin-right:5px;
        margin-top:5px;
    }
    .btn2{
        margin-left:5px;
        margin-bottom:5px;
    }
    .btn4{
        margin-left:5px;
        margin-top:5px;
    }

}

@media (min-width:400px) and (max-width:699px) {
    .pokecardsection {
        flex-direction: column;
    }

    .morefacts {
        margin: 24px;
        margin-bottom: 48px;
    }

    .header input {
        margin: 10px;
    }

    .header {
        flex-direction: column;
    }

    .morefactsstyle {
        flex-direction: column;
    }

    .pokecarddesign {
        width: 45%;
    }

    h1 {
        margin: 0px;
        font-size: 24px;
    }

    h2 {
        font-size: 12px;
    }

    #addInfosImg {
        margin: 0px;
    }

    #ListforInfos {
        font-size: 12px;
        padding-left: 18px;
    }

    .info-box {
        height: 80%;
        width: 90%;
    }

    .shortfacts {
        align-items: center;
    }

    .btn1{
        margin-right:unset;
        margin-bottom:5px;
    }
    .btn3{
        margin-right:unset;
        margin-bottom:5px;
        margin-top: unset;
    }
    .btn2{
        margin-left:unset;
        margin-bottom:5px;
    }
    .btn4{
        margin-left:unset;
        margin-top: unset;
    }
}

@media (min-width:0px) and (max-width:399px) {
    .pokecardsection {
        flex-direction: column;
    }

    .morefacts {
        margin: 24px;
        margin-bottom: 48px;
    }

    .header input {
        margin: 10px;
    }

    .header {
        flex-direction: column;
    }

    .morefactsstyle {
        flex-direction: row;
    }

    .pokecarddesign {
        width: 90%;
    }

    h1 {
        margin: 0px;
        font-size: 24px;
    }

    h2 {
        font-size: 12px;
    }

    #addInfosImg {
        margin: 0px;
    }

    .info-box {
        height: 80%;
        width: 90%;
    }

    .info-box-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #ListforInfos {
        font-size: 12px;
        padding-left: 18px;
    }

    .shortfacts {
        align-items: center;
    }
}